* {
  box-sizing: border-box;
}
td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
}
table {
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) > td:nth-child(odd) {
  background-color: black;
}
tr:nth-child(odd) > td:nth-child(even) {
  background-color: black;
}
tr.whiteList > td.white {
  background-color: white;
  border: none;
}

tr.white_square > td.white_color {
  background-color: white;
  border: none;
}
